<br>
  <div>
    <div *ngIf="isUser">
      <a routerLink="/eventos/crearEvento">
        <button class="btn btn-success" > Crear Evento</button>
      </a>
    </div>
    <br>
    <div>
      <table class="table">
        <tr>
          <h3>Eventos</h3>
        </tr>
        <tr>
          <th>Nombre</th>
          <th>Fecha</th>
          <th>Latitud</th>
          <th>Longitud</th>
          <th>Accion</th>
        </tr>
        <tr *ngFor="let evento  of eventos">
          <td>{{evento.nombre}}</td>
          <td>{{evento.fecha}}</td>
          <td>{{evento.latitud}}</td>
          <td>{{evento.longitud}}</td>
          <td>
            <a *ngIf="isUser" [routerLink]="['/usuario','actualizarEvento',evento.id]">
              <button>Añadir autos al evento</button>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>

