<br>
<div>
  <div *ngIf="isUser">
    <a routerLink="/eventos/crearEvento">
      <button class="btn btn-success">Crear Evento</button>
    </a>
  </div>
  <br>
  <div>
    <span class="ui-fluid ui-float-label">
        <input id="search" name="search" type="search" pInputText [(ngModel)]="elementoABuscar">
        <label for="search">Buscar evento</label>
    </span>
    <span class="p-justify-end ui-inputgroup">
      <div>
        <button pButton type="button" label="Buscar" (click)="buscar()"></button>
      </div>
    </span>
  </div>
  <div>
    <h3>Eventos</h3>
    <table class="table table-bordered">
      <tr>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>Accion</th>
      </tr>
      <tr *ngFor="let evento  of eventos">
        <td>{{evento.nombre}}</td>
        <td>{{evento.fecha}}</td>
        <td>{{evento.latitud}}</td>
        <td>{{evento.longitud}}</td>
        <td>
          <a [routerLink]="['/eventos','verEvento', evento.id]">
            <button class="btn btn-secondary">Ver</button>
          </a>
          <a *ngIf="isUser" [routerLink]="['/eventos','agregarHijos',evento.id]">
            <button class="btn btn-info">Añadir autos</button>
          </a>
          <a *ngIf="isCashier || isClient" [routerLink]="['/eventos','listaFacturas',evento.id]">
            <button class="btn btn-warning">Gestionar Facturas</button>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>

