<div>
  <a routerLink="/usuario/crearAuto">
    <button class="btn btn-success" >Crear Auto</button>
  </a>
  <br>
  <br>
  <div>
  <span class="ui-fluid ui-float-label">
          <input id="search" name="search" type="search" pInputText [(ngModel)]="elementoABuscar">
          <label for="search">Buscar chasis, marca o modelo</label>
        </span>
    <span class="p-justify-end ui-inputgroup">

    <div>
      <button pButton type="button" label="Buscar" (click)="buscar()"></button>
    </div>
  </span>
  </div>
  <div>
    <table class="table">
      <tr>
        <h3>Autos</h3>
      </tr>
      <tr>
        <th>Chasis</th>
        <th>Marca </th>
        <th>Color Uno</th>
        <th>Color Dos</th>
        <th>Nombre del modelo</th>
        <th>Año</th>
        <th>Conductor</th>
        <th>Acciones</th>
      </tr>
      <tr *ngFor="let auto  of autos">
        <td>{{auto.chasis}}</td>
        <td>{{auto.nombreMarca}}</td>
        <td>{{auto.colorUno}}</td>
        <td>{{auto.colorDos}}</td>
        <td>{{auto.nombreModelo}}</td>
        <td>{{auto.anio}}</td>
        <div *ngIf="auto.idConductor">
          <td>{{auto.idConductor.nombres}}</td>
        </div>
        <div *ngIf="!auto.idConductor">
          <td>--</td>
        </div>
        <th>
          <a [routerLink]="['/usuario','actualizarAuto',auto.id]">
            <button class="btn btn-info">Actualizar</button>
          </a>
          <button class="btn btn-danger" (click)="eliminarAuto(auto.id)" >Eliminar</button>
        </th>
      </tr>
    </table>
  </div>
</div>
