<div class="container">
  <a class="nav-item nav-link" routerLink="/eventos">Regresar</a>
  <h2>Añadir Autos a Evento</h2>
  <div class="row">
    <div class="col">
      <h3>Evento</h3>
      <table class="table table-bordered">
        <tr>
          <th>Nombre</th>
          <td>{{eventoActual.nombre}}</td>
        </tr>
        <tr>
          <th>Fecha</th>
          <td>{{eventoActual.fecha}}</td>
        </tr>
      </table>
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe width="400" height="300" id="gmap_canvas"
                  [src]='sanitizer.bypassSecurityTrustResourceUrl(mapUrl)'
                  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          <style>.mapouter {
            text-align: right;
            height: 300px;
            width: 400px;
          }
          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 300px;
            width: 400px;
          }</style>
        </div>
      </div>
    </div>
    <div class="col">
      <h3>Autos en Evento</h3>

      <table class="table table-bordered">
        <tr>
          <th>Chasis</th>
          <th>Modelo</th>
          <th>Accion</th>
        </tr>
        <tr *ngFor="let auto  of autos">
          <td>{{auto.chasis}}</td>
          <td>{{auto.nombreMarca}} {{auto.nombreModelo}}</td>
          <td>
            <button class="btn btn-danger">Borrar</button>
          </td>
        </tr>
      </table>

    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>
