<div>
  <a routerLink="/usuario/crearConductor">
    <button class="btn btn-success">Crear Conductor</button>
  </a>
  <br>
  <br>
  <div>
  <span class="ui-fluid ui-float-label">
          <input id="search" name="search" type="search" pInputText [(ngModel)]="elementoABuscar">
          <label for="search">Buscar nombre o apellido</label>
        </span>
    <span class="p-justify-end ui-inputgroup">

    <div>
      <button pButton type="button" label="Buscar" (click)="buscar()"></button>
    </div>
  </span>
  </div>
  <div>
    <table class="table">
      <tr>
        <h3>Conductores</h3>
      </tr>
      <tr>
        <th>Nombres</th>
        <th>Apellidos </th>
        <th>Fecha de Nacimiento</th>
        <th>Número de autos</th>
        <th>Licencia Válida</th>
        <th>Acciones</th>
      </tr>
      <tr *ngFor="let conductor  of conductores">
        <td>{{conductor.nombres}}</td>
        <td>{{conductor.apellidos}}</td>
        <td>{{conductor.fechaNacimiento}}</td>
        <td>{{conductor.numeroAutos}}</td>
        <td>{{conductor.licenciaValida}}</td>
        <td>
          <a [routerLink]="['/usuario','actualizarConductor',conductor.id]">
            <button class="btn btn-info">Actualizar</button>
          </a>
          <button class="btn btn-danger" (click)="eliminarConductor(conductor.id)" >Eliminar</button>
        </td>
      </tr>
    </table>
  </div>
</div>
