<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>Conductor</h3>
      <form [formGroup]="conductorForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nombres">Nombres</label>
          <input id="nombres" formControlName="nombres" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }" />
          <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
            <div *ngIf="f.nombres.errors.required">Este campo no puede estar vacío</div>
            <div *ngIf="f.nombres.errors.pattern">Solo debe contener letras y espacios</div>
          </div>
        </div>
        <div class="form-group">
          <label for="apellidos">Apellidos</label>
          <input id="apellidos" formControlName="apellidos" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors }"/>
          <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
            <div *ngIf="f.apellidos.errors.required">Este campo no puede estar vacío</div>
            <div *ngIf="f.apellidos.errors.pattern">Solo debe contener letras y espacios</div>
          </div>
        </div>
        <div class="form-group">
          <label for="fechaNacimiento">Fecha de nacimiento</label>
          <input id="fechaNacimiento" type="date" formControlName="fechaNacimiento" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fechaNacimiento.errors }" />
          <div *ngIf="submitted && f.fechaNacimiento.errors" class="invalid-feedback">
            <div *ngIf="f.fechaNacimiento.errors.required">Este campo no puede estar vacío</div>
          </div>
        </div>
        <div class="form-group">
          <label for="numeroAutos">Número de Autos</label>
          <input id="numeroAutos" type="number" formControlName="numeroAutos" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.numeroAutos.errors }" />
          <div *ngIf="submitted && f.numeroAutos.errors" class="invalid-feedback">
            <div *ngIf="f.numeroAutos.errors.required">Este campo no puede estar vacío</div>
          </div>
        </div>
        <div class="form-group">
          <input type="checkbox" id="licenciaValida" formControlName="licenciaValida" name="licenciaValida">
          <label for="licenciaValida">Licencia Válida</label>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary btn-block">{{nombreButton}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

